footer .logo {
  margin: 0 0 20px -13px;
  max-width: 199px; }

footer .list-maps {
  margin: 10px 0 0; }
  footer .list-maps .list-maps-links__text {
    color: #4F86FF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.footer-top__content {
  padding: 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer-col {
  margin: 0 65px 0 0; }
  .footer-col:last-child {
    margin: 10px 0 0; }

.footer-menu {
  font-size: 14px; }
  .footer-menu li {
    margin: 0 0 10px 0; }
    .footer-menu li:last-child {
      margin: 0; }
    .footer-menu li a {
      color: #303030; }
      .footer-menu li a:hover {
        color: #3570F2; }

.footer-box {
  font-size: 14px;
  max-width: 225px;
  width: 100%;
  color: #303030;
  margin: 0 0 30px; }
  .footer-box h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 20px; }
  .footer-box:last-child {
    margin: 0; }
  .footer-box .box-text p {
    margin: 0 0 10px; }
    .footer-box .box-text p:last-child {
      margin: 0; }

.footer-map {
  height: 100%;
  min-width: 945px; }
  .footer-map iframe {
    width: 100%;
    height: 100%; }

.footer-bottom {
  padding: 10px 0;
  text-align: center;
  background: #303030;
  color: #fff; }

.copyright {
  margin: 0 0 0 20px;
  padding: 0 0 0 25px;
  border-left: 1px solid #fff; }
