header {
  margin: 0 0 1px; }
  header .mail {
    margin: 0 auto; }

.header-top {
  padding: 8px 0 11px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 170px;
  width: 100%; }
  .logo img {
    width: 100%; }

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  margin: 0 48px 0 0; }
  .header-box p {
    color: #B0B0B0;
    margin: 0 5px 0 0; }
  .header-box a {
    color: #303030; }
    .header-box a:hover {
      color: #3570F2; }
  .header-box .color-accent {
    color: #3570F2; }
    .header-box .color-accent:hover {
      color: #303030; }

.list-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  margin: 0 48px 0 auto; }
  .list-language li {
    margin: 0 15px 0 0; }
    .list-language li:last-child {
      margin: 0; }
    .list-language li a {
      color: #B0B0B0; }
      .list-language li a:hover {
        color: #303030; }
    .list-language li .active {
      color: #303030; }

.header-contacts-box {
  position: relative;
  padding: 0 52px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0; }

.link-modal {
  font-size: 14px;
  font-weight: 500; }

.phone {
  font-size: 20px;
  font-weight: bold; }
  .phone:hover {
    color: #3570F2; }

.icon-phone {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #3570F2;
  fill: #fff;
  width: 42px;
  height: 42px;
  padding: 13px; }
  .icon-phone:hover {
    background: #FED530; }

.btn-search-mobile {
  border-radius: 50%;
  background: #3570F2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  width: 42px;
  height: 42px;
  fill: #fff;
  padding: 11px;
  cursor: pointer; }
  .btn-search-mobile:hover {
    background: #FED530; }

.input-icon-search {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
  top: 12px;
  fill: #848484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-bottom {
  width: 100%;
  background: #3570F2; }

.nav-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .nav-menu .logo, .nav-menu .header-box, .nav-menu .schedule-box, .nav-menu .list-language {
    display: none;
    font-size: 16px; }
  .nav-menu .mail {
    font-size: 16px; }

.language-box {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }
  .language-box p {
    margin: 0 10px 0 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.02em;
  font-size: 16px;
  position: relative; }
  .menu li {
    position: initial; }
    .menu li > a {
      text-transform: uppercase;
      color: #fff;
      position: relative;
      padding: 17.5px 0; }
      .menu li > a:hover {
        color: #FED530; }
      .menu li > a.active {
        color: #FED530;
        font-weight: bold; }
  .menu .dropdown-menu {
    left: 0 !important;
    -webkit-transform: none;
            transform: none;
    padding: 20px;
    margin: 9px 0 0;
    min-width: 402px; }
    .menu .dropdown-menu .dropdown-menu {
      top: 0;
      margin-top: 0; }
  .menu .dropdown-toggle:after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 12px;
    min-width: 12px;
    height: 6px;
    margin: 0 0 0 8px;
    background: url("../img/arrow-bottom-white.svg") no-repeat center;
      background-size: 100%; }

.dropdown-menu-list {
  font-size: 14px;
  padding: 0; }
  .dropdown-menu-list li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 10px; }
    .dropdown-menu-list li:before {
      width: 8px;
      min-width: 8px;
      height: 8px;
      margin: 5px 7px 0 0; }
    .dropdown-menu-list li a {
      padding: 0;
      color: #303030;
      text-transform: none;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
      .dropdown-menu-list li a:before {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 4px 8px auto 0;
        height: 12px;
        width: 10px;
        min-width: 10px;
        background: url("../img/figure-menu.svg") no-repeat center;
          background-size: 100%; }
      .dropdown-menu-list li a:hover {
        color: #3570F2; }
        .dropdown-menu-list li a:hover:after {
          background: url("../img/arrow-right-accent.svg") no-repeat center;
            background-size: 100%; }
    .dropdown-menu-list li .dropdown-toggle:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: auto;
      width: 8px;
      min-width: 8px;
      height: 14px;
      background: url("../img/arrow-right.svg") no-repeat center;
        background-size: 100%; }
  .dropdown-menu-list .dropdown.show .dropdown-toggle {
    color: #3570F2; }
    .dropdown-menu-list .dropdown.show .dropdown-toggle:after {
      background: url("../img/arrow-right-accent.svg") no-repeat center;
        background-size: 100%; }
  .dropdown-menu-list .dropdown-menu {
    margin: 9px 0 0 4px;
    left: 100% !important; }

.overlay-mobile {
  z-index: 4;
  width: 100%;
  background: rgba(26, 52, 109, 0.4);
  height: 100%;
  display: none;
  left: 0;
  bottom: 0;
  position: fixed; }

.btn-burger {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 42px;
  height: 42px;
  background: #3570F2;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px 12px;
  margin: 0 0 0 20px; }
  .btn-burger span {
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 3px;
    display: block; }
  .btn-burger.click {
    padding: 5px; }
    .btn-burger.click span {
      position: absolute;
      width: 18px;
      top: 20px;
      left: 12px; }
      .btn-burger.click span:nth-child(2) {
        display: none; }
      .btn-burger.click span:first-child {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .btn-burger.click span:last-child {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg); }

.btn-search {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 42px;
  height: 42px;
  background: #3570F2;
  border-radius: 50%;
  cursor: pointer;
  padding: 11px;
  fill: #fff; }
